* {
    /* background-color: var(--color-1); */
    --color-1: #F8F2E9;
    --color-2: #808080;
    --color-3: #F05050;
    --color-4: #3A709A;
    --color-5: #FFC87E;
    --light-gray: #AAAAAE;
    --dark-gray: #5B5B60;
    --bluish: #676677;
}

a {
    font-family: 'roboto', sans-serif;
    font-weight: 500;
    font-size: 1em;
}

img {
    max-width: 100%;
    height: auto;
}

.a-tag {
    text-decoration: none;
    color: black;
}

.col-md {
    display: flex;
    justify-content: center;
}

#test {
    /* text-decoration: none;
    color: black; */
}


#header-row{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-1);
    margin: 20px 0px;
    border-radius: 1em;
}

#header-logo img {
    width: 500em;
    height: auto;
}

#header-links a {
    display: flex;
    justify-content: right;
    align-items: end;
}

#header-row a {
    /* white-space: nowrap;
    overflow: hidden; */
}

#header-logo {
    display: flex;
}

#header-logo img {
    max-width: 8em;
    height: auto;
    justify-content: center;
    align-items: center;
}

#header-links {
    /* background-color: var(--bluish); */
}

#hero {
    max-width: 100%;
    filter: brightness(.5);
}

#hero-row {
    /* background-color: var(--light-gray); */
}

#trust-images {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5px;
    /* background-color: var(--light-gray); */
}

#main-row {
    /* background-color: var(--light-gray); */
}

#trust-images img {
    max-width: 10em;
    max-height: auto;
    margin: 10px 0px;
}

#medium-images-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#medium-images-section img {
    max-width: 100%;
    max-height: auto;
}

#large-images-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#large-items-section img {
    max-width: 100%;
    max-height: auto;
}

#closer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#footer {
    display: flex;
    justify-content: center;
    justify-content: space-between;
}